body {
  @include container();
  @include clearfix;
  max-width: 1200px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #2d313d;
  background: #fff;
}

.hidden{
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

picture img {
  border-radius: 3px;
}

