.logo {

}

@media (min-width: $mobile-widths) {
  .logo {
    margin-left: 98px;
  }
}

@media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
  .logo {
    margin-left: 27px;
  }
}

@media (min-width: $desktop-widths) {
.logo {
    margin-left: 6px;
  }
}
